.about-us__p{
    text-align: center;
    font-weight: 100;
    font-size: 1.75rem;
    color: #8C8888;
}

@media screen and (max-width: 768px) {
    .about-us__p{
        font-size: 1.25rem;
    }   
}