.recipe__content--h4{
    margin-left: .75rem;
    font-size: 1.4375rem;
    margin: 1rem 0 1rem 0.5rem;
}

@media screen and (max-width: 768px) {
    .recipe__content--h4{
        font-size: 1.25rem;
    }   
}