.recipe__content--p{
    font-size: 1.1875rem;
    margin: 0 .5rem 0.5rem 0.5rem;
    text-align: justify;
    flex-grow: 2;
}

@media screen and (max-width: 768px) {
    .recipe__content--p{
        font-size: 1rem;   
    }
}